html {
  font-size: 100%;
  font-family: Helvetica;
}
li {
  list-style: none;
}
#chat-container {
  width: $chatWidth;
  height: 100%;
  float: left;
  position: relative;
  border-right: 1px solid silver;
  box-sizing: border-box;

  .messages-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    .message {
      padding: 10px;
      .message-name {
        margin-right: 10px;
        width: 5em;
        font-weight: 700;
      }
      .message-content {
        margin-right: 1em;
        overflow: hidden;
      }
    }
  }
  .message-form {
    box-sizing: border-box;
    padding: 10px 8px 10px 8px;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    margin: 0;
    border-top: 1px solid silver;
    .message-input {
      width: 80%;
      height: 23px;
    }
  }
}
.left {
  float: left;
}
.right {
  float: right
}
