@import "reset";
@import "variables";
@import "chat";
@import "users";
@import "overlay";
@import "nick-room-form";

#wrap, #main-container {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}
