html, body, #content {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

#chat-container {
  width: 73%;
  height: 100%;
  float: left; }

#users-container {
  width: 26%;
  height: 100%;
  float: right;
  border-left: 1px solid black; }
